### 판다스에서 사용할 수 있는 str문법인데
### 필수과제 1 
#### 이외에 다양한 str 문법들 찾아서 개념 정리 및 코드로 구현하기
#### 위의 데이터 가지고 모든 함수들 다 적용해 보고 어떤 식으로 작동하는지랑 꼭 주석처리로 설명까지 부탁드립니다!
- 파이썬문법 문자열 함수, 문자열에 대한 기초 문법을 그대로 응용만 하면 된다.
- str.split()
- str.get()
- str.startswidth()
- str.endswith()
- str.contains()
- str.replace()
- str.extract()
- str.pad()
- str.strip() 
- str.lower, upper 등 다 가능
- str.match 정규표현식에서 한 것 # 일치여부 확인

In [21]:
import pandas as pd
survey = pd.read_csv('survey_설문지.csv')

survey = survey.dropna()
survey['comment'] = survey['comment'].str.replace('[A-Za-z]', "", regex = True)

survey['comment'] = survey['comment'].str.replace('\(.+?\)',"", regex=True)

In [22]:
survey

      datetime                     comment  satisfaction
0   2019-03-11              역앞에 젊은이들이 모여있다             1
1   2019-02-25       운동할 수 있는 장소가 있는 것이 좋다             5
2   2019-02-18                   육아 지원이 좋다             5
3   2019-04-09           어린이집에 바로 입원할 수 있다             4
4   2019-01-06                 역앞 상가가 쓸쓸하다             2
..         ...                         ...           ...
81  2019-01-21      초등학교 운동장이 잔디밭이라서 아주 좋다             5
82  2019-04-30  홈페이지에서도 설문지를 투고할 수 있게 해 달라             2
83  2019-01-09             공원에 놀이기구가 너무 적다             1
84  2019-03-09              공원을 더 늘렸으면 좋겠다             2
85  2019-04-02           역앞에 주차장이 적다, 불편하다             1

[84 rows x 3 columns]

In [24]:
#1. str.split(): '' 내의 텍스트를 기반으로 분할

survey['comment'].str.split(' ')

0                     [역앞에, 젊은이들이, 모여있다]
1          [운동할, 수, 있는, 장소가, 있는, 것이, 좋다]
2                          [육아, 지원이, 좋다]
3                [어린이집에, 바로, 입원할, 수, 있다]
4                        [역앞, 상가가, 쓸쓸하다]
                     ...
81          [초등학교, 운동장이, 잔디밭이라서, 아주, 좋다]
82    [홈페이지에서도, 설문지를, 투고할, 수, 있게, 해, 달라]
83                  [공원에, 놀이기구가, 너무, 적다]
84                   [공원을, 더, 늘렸으면, 좋겠다]
85                [역앞에, 주차장이, 적다,, 불편하다]
Name: comment, Length: 84, dtype: object

In [25]:
#2.str.get(): ()안의 숫자 번째의 글자

survey['comment'].str.get(-1)

0     다
1     다
2     다
3     다
4     다
     ..
81    다
82    라
83    다
84    다
85    다
Name: comment, Length: 84, dtype: object

In [26]:
#3.str.startswith(): () 내의 텍스트로 시작하는지 T/F로 표현
survey['comment'].str.startswith('역')

0      True
1     False
2     False
3     False
4      True
      ...
81    False
82    False
83    False
84    False
85     True
Name: comment, Length: 84, dtype: bool

In [27]:
#4.str.endswith(): ()의 텍스트로 끝나는지 T/F로 표현
survey['comment'].str.endswith('좋겠다')

0     False
1     False
2     False
3     False
4     False
      ...
81    False
82    False
83    False
84     True
85    False
Name: comment, Length: 84, dtype: bool

In [28]:
#5.str.contains(): ()의 텍스트를 표함하는지 T/F로 표현
survey['comment'].str.contains('역')

0      True
1     False
2     False
3     False
4      True
      ...
81    False
82    False
83    False
84    False
85     True
Name: comment, Length: 84, dtype: bool

In [29]:
#6.str.replace(): 특정한 텍스트를 특정한 텍스트로 변경
survey['comment'].str.replace(' ', '_')

0                 역앞에_젊은이들이_모여있다
1          운동할_수_있는_장소가_있는_것이_좋다
2                      육아_지원이_좋다
3              어린이집에_바로_입원할_수_있다
4                    역앞_상가가_쓸쓸하다
                 ...
81        초등학교_운동장이_잔디밭이라서_아주_좋다
82    홈페이지에서도_설문지를_투고할_수_있게_해_달라
83               공원에_놀이기구가_너무_적다
84                공원을_더_늘렸으면_좋겠다
85             역앞에_주차장이_적다,_불편하다
Name: comment, Length: 84, dtype: object

In [31]:
#7.str.extract(): 추출하고 싶은 문자열의 정규표현식을  대입

pattern = r'\b(운동\w*)'

survey['comment'].str.extract(pattern)

       0
0    NaN
1    운동할
2    NaN
3    NaN
4    NaN
..   ...
81  운동장이
82   NaN
83   NaN
84   NaN
85   NaN

[84 rows x 1 columns]

In [32]:
#8.str.pad(): 문자열의 길이를 지정한 길이로 맞춤

survey['comment'].str.pad(width = 20, fillchar="*", side="right" )

0           역앞에 젊은이들이 모여있다******
1          운동할 수 있는 장소가 있는 것이 좋다
2           육아 지원이 좋다***********
3           어린이집에 바로 입원할 수 있다***
4           역앞 상가가 쓸쓸하다*********
                 ...
81        초등학교 운동장이 잔디밭이라서 아주 좋다
82    홈페이지에서도 설문지를 투고할 수 있게 해 달라
83          공원에 놀이기구가 너무 적다*****
84          공원을 더 늘렸으면 좋겠다******
85          역앞에 주차장이 적다, 불편하다***
Name: comment, Length: 84, dtype: object

In [33]:
#9.str.strip(): 공백 제거
survey['comment'].str.strip()

0                 역앞에 젊은이들이 모여있다
1          운동할 수 있는 장소가 있는 것이 좋다
2                      육아 지원이 좋다
3              어린이집에 바로 입원할 수 있다
4                    역앞 상가가 쓸쓸하다
                 ...
81        초등학교 운동장이 잔디밭이라서 아주 좋다
82    홈페이지에서도 설문지를 투고할 수 있게 해 달라
83               공원에 놀이기구가 너무 적다
84                공원을 더 늘렸으면 좋겠다
85             역앞에 주차장이 적다, 불편하다
Name: comment, Length: 84, dtype: object

In [36]:
#10.str.lower(): 모든 알파벳을 소문자화
text = "Hello, World!"

lower_text = text.lower()
lower_text

'hello, world!'

In [37]:
#11.str.upper(): 모든 알파벳을 대문자화
upper_text = text.upper()
upper_text

'HELLO, WORLD!'

In [38]:
#12.str.match(): 문자열이 주어진 정규표현식과 일치하는지를 확인하는 기능
survey['comment'].str.match('[가-힇]+')

0     True
1     True
2     True
3     True
4     True
      ...
81    True
82    True
83    True
84    True
85    True
Name: comment, Length: 84, dtype: bool